body {
    background-color: #ecdbba;
}

* {
    font-family: "Libertinus Sans", sans-serif;
}

.container {
    width: 600px;
    margin: 0 auto;
    padding-top: 30px;
}

.button-container {
    display: flex;
}

.home-container {
    display: flex;
    width: 300px;
}

h1, h2 {
    font-family: "Edu NSW ACT Cursive", cursive;
}

.dark-brown {
    color: #5f4330;
}

.light-brown {
    color:#c48358;
}

.heading {
    background:#5f4330;
    padding: 5px 10px;
    border-radius: 10px;
}

.homepage-head {
    color: #883c18;
    font-size: 56px;
    text-align: center;
}

.button {
    background-color: #5f4330;
    color: white;
    text-decoration: none;
    margin: 7px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    flex: 1;
    text-align: center;
}

.home-button {
    background-color: #5f4330;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    width: 175px;
    display: block;
    text-align: center;
}

.button:hover,
.home-button:hover {
    background-color: white;
    color: #5f4330;
    font-weight: bold;
}